/* .form{
    background-color: rgb(204, 236, 240);
    border-radius: 10px;
    width: 400px;
    margin: 20px auto;
    padding: 50px;
    height: 550px; 
    
}
.header{
    text-align: center;
    color: rgb(43, 89, 226)
} */
.body{
    background: #2ff049; 
    background: -webkit-linear-gradient(to right, #c5fc7d, #cff083);
     width:2000px;
     height: 900px;
    background: linear-gradient(to right, #e3f3a9, #c3c7bd); 

}

.form{
    background-color: rgb(63, 156, 168);
    border-radius: 10px;
    width: 400px;
    margin-left: 30%;
    padding: 50px;
    height: 850px; 

    
}

.form-body{
    text-align: center;
    padding: 20px 10px;
}

.form-body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
    
}

.form_input{
    width: 60%;
}
.header{
    text-align: center;
    color: rgb(43, 89, 226)
}
.pera{
        text-align: center;
}

