.gird {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

/* .card {
    } */
.card > img {
  width: 100%;
  border-radius: 2rem;
}
.card > a {
  text-decoration: none;
}

.card > h4 {
  text-align: center;
  padding: 1rem;
}
