.form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
}
.form > h3 {
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
  text-shadow: 2px 7px 5px rgba(250, 88, 88, 0.3),
    0px -4px 10px rgba(242, 159, 159, 0.3);
}
.form > input {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0.5rem 0rem;
  /* background: linear-gradient(35deg, #494949, #313131); */
  border-radius: 1rem;
  border: 2px solid linear-gradient(35deg, #eb7171, #f27171);
}
.form > input:focus {
  outline: none !important;
  border: 1px solid rgb(249, 135, 135);
  box-shadow: 0 0 10px #74afef;
}

.form > input[type="submit"] {
  background: linear-gradient(35deg, #e66868, #f36e6e);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form {
    margin-bottom: 5rem;
  }
}
