@import url("https://fonts.googleapis.com/css?family=Audiowide");
.container {
  position: relative;
  margin-top: 100px;
}
.header {
  display: block;
  width: 50%;
}
.right {
  position: fixed;
  height: 100px;
}