@import url("https://fonts.googleapis.com/css?family=Audiowide");
.container {
  position: relative;
  margin-top: 100px;
}
.container img {
  display: block;
  width: 100%;
}
.navbar {
  position: fixed;
  z-index: 10;
  left: 0;
  right: 0;
  top: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0 5%;
  height: 100px;
  background-image: linear-gradient(
    to bottom right,

     #fab7f1, #f5c1c1
  );
  /* box-shadow: 0px 20px 10px aqua; */
}
.navbar > ul > li > a:hover {
  color: #fea247;
  background-color: rgb(237, 136, 136);
  border-radius: 13px;
  transition: all 1s ease;
}
.navbar .logo {
  float: left;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 24px;
  color: white;
}
.navbar .links {
  /* float: right; */
  /* padding: 0; */
  margin: 0;
  width: 60%;
  height: 100%;
  display: flex;
 /* justify-content: space-around; */
  align-items: center;
  
}
.navbar .links li {
  list-style: none;
}
.navbar .links a {
  display: block;
  padding: 1em;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  font-family: "Audiowide", serif;
}
#navtoggle {
  position: absolute;
  top: -100px;
}
.navbar .iconburger {
  display: none;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
.navbar .iconburger .line {
  width: 30px;
  height: 5px;
  background-color: #fff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}
@media screen and (max-width: 800px) {
  .navbar .logo {
    float: none;
    width: auto;
    justify-content: center;
  }
  .navbar .links {
    float: none;
    position: fixed;
    /* z-index: 9; */
    left: 0;
    right: 0;
    top: 100px;
    bottom: 100%;
    width: auto;
    height: auto;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(252, 180, 72, 0.8);
    overflow: hidden;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  .navbar .links a {
    font-size: 20px;
  }
  .navbar :checked ~ .links {
    bottom: 0;
  }
  .navbar .iconproduct {
    display: block;
  }
  .navbar :checked ~ .iconproduct .line:nth-child(1) {
    transform: translateY(10px) rotate(225deg);
  }
  .navbar :checked ~ .iconproduct .line:nth-child(3) {
    transform: translateY(-10px) rotate(-225deg);
  }
  .navbar :checked ~ .iconproduct .line:nth-child(2) {
    opacity: 0;
  }
}

.youtubelink {
  position: fixed;
  left: 20px;
  bottom: 20px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
}
