.body{
    background: #c9f02f; 
    background: -webkit-linear-gradient(to right, #5deffa, #e2f8ae);
     width:1350px;
     height: 900px;
    background: linear-gradient(to right, #ecf5cd, #91e9f1); 
  
  }
  .button {
    padding: 0.5rem 0.5rem;
    width: 200px;
    border-radius: 2rem;
    color: #fff; 
    background: linear-gradient(35deg, #e66d6d, #efaeae);
    border: 0;
    cursor: pointer;
  }

  .addItem {
    display: flex;
    justify-content: flex-end;
  } 

  .table {
    border-collapse: collapse;
    border: none;
    width: 60%;
  }

  .tableRowHeader {
    background-color: burlywood;
    transition: all 0.25s ease;
    border-radius: 20px;
  }