.setting{
  padding: 2%;
  font-size: 22px;
}
.nav{
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
 
  

}

/* .form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.form > h3 {
  text-align: center;
  font-family: "Fira Sans Condensed", sans-serif;
}
.form > input,
.form > select {
  width: 100%;
  padding: 1rem 2rem;
  margin: 0.5rem 0rem;
  border-radius: 1rem;
  border: 2px solid linear-gradient(35deg, #494949, #313131);
}

.form > select {
  background-color: #fff;
}

.form > input[type="submit"] {
  background: linear-gradient(35deg, #494949, #313131);
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.form > textarea {
  width: 100%;
  border-radius: 1rem;
  border: 2px solid linear-gradient(35deg, #494949, #313131);
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
}

.form > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 0.5rem;
}

.form > div > div {
  display: relative;
  text-align: center;
}

.form > div > div > span {
  position: absolute;
  border-radius: 2rem;
  font-size: 1.3rem;
  width: 25px;
  height: 25px;
  color: #fff;
  background: linear-gradient(35deg, #e29b9b, #e97474, #be1a1a);
  cursor: pointer;
}

.form > div > div > img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
}

@media only screen and (max-width: 600px) {
  .form {
    margin-bottom: 5rem;
  }
  .form > div {
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  }
  .form > div > div > img {
    height: 8rem;
    width: 8rem;
    border-radius: 0.5rem;
  }
} */
